body {
    padding-top: 0px;
    }
    
html {
        scroll-behavior: smooth;
    }
    ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ff4700; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d03631; 
  border-radius: 10px;
  border: 2px solid #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

.container-fluid {
    display: inline-block;
}
   
    
.navbar {
    margin-bottom: 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
    border: 0;
    font-family: 'Molle', cursive;
    font-weight: bold;
    font-size: 22px;
}


.navbar-inverse {
    background-color: rgba(0, 0, 0, 1);
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
   color: #d03631;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #d03631;
}

.navbar-inverse .navbar-brand {
    color: #d03631;
}

.navbar-brand {
    margin-left: -5px;
    font-size: 35px;
}





/*-------------callout section----------*/


.header {
    font-family: 'Molle', cursive;
    font-size: 36px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 45px;
    
}
.header-lead {
    
    font-family: 'Molle', cursive;
    font-size: 72px;
    margin-top: 0px;
    margin-bottom: 45px;
    color: black;
}

.header-info {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

#callout-section {
    background-image: url("/assets/images/background_image.jpg"); 
    height: 100vh;
    width: 100%;
    
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover ;
  position: relative;
}



/*------------section colours--------------*/


#music-section {
    background-color: #f06e60;
}
    

#about-section {
    background-color: #dec6c4;
    padding-bottom: 50px;
}
#section-tour-dates {
    background-color: #e9aba5;
    text-align: center;
    
}
.booking-section {
    background-color: #e9aba5;
    text-align: center;
}
.latest {
    background-color: #dec6c4;
    padding-top: 70px;
}


 

/*---------------About--------------*/

.bio-pic {
    height: 230px;
    object-fit: scale-down;
    -webkit-transition: all 2s ease-in;
     -moz-transition: all 2s ease-in;
       -o-transition: all 2s ease-in;
      -ms-transition: all 2s ease-in;
          transition: all 2s ease-in;
}
.bio-pic:hover {
    -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}


/*---------------Fonts and Icons------------*/


.info-social {
    font-family: 'Molle', cursive;
    margin-bottom: 40px;
    margin-top : 40px;
    font-size: 30px;
    font-weight: bold;
}

.fa {
    color: #0787f9;
    font-size: 2.2em;
    background-color: #fff;
    border: 18px solid #fff;
    border-radius: 30px;
    margin-right: 25px;
    margin-top: 20px;
}
.fa-youtube:before {
   color: #e52d27;
}
.fa-youtube:hover {
    opacity: 0.6;
}

.fa-facebook-square {
    margin-right: 15px;
}
.fa-facebook-square:before {
    color: #3b5998;
   }
.fa-facebook-square:hover {
    opacity: 0.6;
}   
.fa-twitter:before {
    color: #55acee;
}
.fa-twitter:hover {
    opacity: 0.7;
}
.fa-twitter {
    border: 18px solid #fff;
}
.fa-instagram:before {
    color: #f38c31;
}
.fa-instagram:hover {
    opacity: 0.7;
}

.fa-facebook .fa-twitter .fa-youtube .fa-instagram {
    
    padding-top: 0px;
    border: 22px solid #fff;
    border-bottom: none;
    margin-top: 30px;
}





/*-----------Music Hits , About Us & Tour Dates-------------*/



.info {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}

.info-info{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
}
.info-hits {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 50px;
}


.info-latest {
    font-family: 'Molle', cursive;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
}

  
 .latest-news {
     margin-top: 0px;
     margin-left: 0px;
     padding-bottom: 50px;
     padding-top: 30px;
     padding-left: 30px;
     background-color: #dec6c4;
     
 }
 
 .latest-news img {
     margin-top: 55px;
     padding-left: 0px;
 }
 
 
.songlist-section {
    
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 50px;
    
}

  #video-section {
      display: inline-block;
      width: 100%;
      height: auto;
      background-color: #f06e60;
      padding-bottom: 100px;
  }  

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.tour-pics {
    margin-top : 33%;
}


     
/*-------------Newsletter & Contact Us----------*/
    

#newsletter {
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: lightblue;
    }
    
    .form-control {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

form {
  display: flex; 
  justify-content: center;
  grid-column: 2;
  padding: 40px;
    }

input {
  flex-grow: 0;
  padding: 1em 0.75em;
  
    }

button {
  padding: 0.1em 15em;
  background: hsl(130, 75%, 75%); 
 
  border-radius: 10px;
  background-color: #f4511e;
  color: #ffffff;
  border: 0;
  font-size: 15px;
  transition: all 2s;
  cursor: pointer;
}

button:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);
}
    
.btn {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
}

#contact-us {
    padding-top: 130px;
    padding-bottom: 30px;
    background-color: #e9aba5;
    }
a {
    text-decoration: none !important;
}


fieldset {
    min-width: 100%;
}



/*-------------------footer------------------*/

.footer {
    width: 100%;
    min-height: 132px;
    background-color: #2c363f;
    text-align:center;
    
    
}
 .footer .fa {
    display:inline-block;
    vertical-align:middle;
    color: #0787f9;
    font-size: 2.2em;
    background-color: #fff;
    border: 4px solid #f7af96;
    border-radius: 10px;
    height: 52px;
    line-height: 44px;
    width: 52px;
    margin:20px 5px;
}
.milestone {
    font-family: PT Sans;
    font-size: 0.9em;
    font-style: italic;
    color: #fff;
}

    





    
    
    
